<style src="./AddTodo.css"></style>
<template src="./AddTodo.html"></template>

<script>
import Vue from "vue";
import http from "./API";
import Router from "vue-router";
import Vuex from "vuex";
import bus from "../main.js"
import VueResource from 'vue-resource'
Vue.use(VueResource)

export default {
  data() {
    return {
      todos: [],
      todo: {
        name: "",
        description: "",
        statut: "",
        date: ""
      },
      
      filter: "all"
    };
  },
  methods: {
    addTodo() {
      var data = {
        name: this.todo.name,
        description: this.todo.description,
        statut: this.todo.statut,
        date: this.todo.date
      };
      http.post("/todo", data).then(
        response => {
          this.todo.id = response.data.id;
          this.$router.push({ name: "Todos" });
        },
        response => {
          console.log("erreur", response);
        }
      );
    }
  },
  
};
</script>

