<div class="submitform">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required v-model="todo.name" name="name" >
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" required v-model="todo.description" name="description" >
    </div>

    <div class="form-group">
        <label for="statut">Statut</label>
        <input type="text" class="form-control" id="statut" required v-model="todo.statut" name="statut">
    </div>

    <div class="form-group">
        <label for="name">Date</label>
        <input type="date" class="form-control" id="date" required v-model="todo.date" name="date">
    </div>
    <button @click.prevent="addTodo()" class="btn btn-success">ajouter une tâche</button>

    
</div>

