<div>
    <label>chercher une tâche avec son identifiant</label><br>
    <input type="number" v-model="todos.id" @keyup="searchTodo(todos.id)">
    <div>
        <div v-if='todos.id' @dblclick="update(todos)" class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ todos.name }}</h5>
                <p class="card-text">{{ todos.description }}</p>
                <p class="card-text">{{ todos.statut}}</p>
                <p class="card-text">{{ todos.date }}</p>

            </div>
        </div>
        <div v-else="!todos.id && todos.id !=''">
            <div class="alert alert-danger" role="alert">
                Cette tâche n'existe pas
            </div>
        </div>
    </div>
</div>