<style src="./SearchTodos.css"></style>
<template src="./SearchTodos.html"></template>

<script>
import Vue from "vue";
import http from "./API";
import Router from "vue-router";
import bus from "../main.js"
import Vuex from 'vuex'
import VueResource from 'vue-resource'
Vue.use(VueResource)

export default {
  data() {
    return {
      todos: [],
      todo: { id: "" },
      filter: "all"
    };
  },
  methods: {
    searchTodo(id) {
      http.get(`/todo/${id}`).then(
        response => {
          this.todos = response.data;
          console.log(response);
        },
        response => {
          console.log("erreur", response);
        }
      );
    },
    update(todo) {
      this.$router.push({ name: 'update' })  
      this.$store.dispatch('selectTodoAction',todo.id)
      console.log(todo.id)
    }
  }
};
</script>

