<div>
    <div class="list">
        <ul v-for='todo in todos' :key='todo.id'>
            <div class="card" style="width: 18rem;">

                <div class="card-body">

                    <h5 class="card-title">{{ todo.name }}</h5>
                    <p class="card-text">{{ todo.description }}</p>
                    <p class="card-text">{{ todo.statut}}</p>
                    <p class="card-text">{{ todo.date }}</p>
                    <button class="btn btn-primary" @click.prevent="deleteTodo(todo.id)"> supprimer </button>

                </div>

            </div>
        </ul>

        <!--
    <p> Nombre de voitures : {{ counter }}</p>-->
    </div>

    <p> Nombre de tâches : {{ counter }}</p>
</div>