<style src="./TodosList.css"></style>
<template src="./TodosList.html"></template>


<script>
import Vue from 'vue'
import VueResource from 'vue-resource'
Vue.use(VueResource)

export default {
    
  data () {
    return {
      todos: [],
      filter : 'all',
    }
  },
 methods: {
  deleteTodo(id) {
    this.$resource(`http://localhost:9000/todo/${id}`)
      .delete()
      .then(
        response => {
         this.todos= this.todos.filter(el=> el.id != id) 
        },
        response => {
          console.log('erreur', response)
        }
      )
  }
 },


  computed: {
    counter () {
      return this.todos.length
    }


    
  },
   mounted () {
    this.$resource('http://localhost:9000/todo')
      .get()
      .then(
        response => {
          this.todos = response.data
        },
        response => {
          console.log('erreur', response)
        }
      )
  }
}
</script>

