<style src="./UpdateTodo.css"></style>
<template src="./UpdateTodo.html"></template>

<script>
import Vue from 'vue'
import VueResource from 'vue-resource'
import Vuex from "vuex";
import http from "./API";
Vue.use(VueResource)

export default {
    
  data () {
    return {
      todos: [],
    }
  },
  methods: {
    updateTodo() {
      var data = {
          id:this.newtodo.id,
        name: this.newtodo.name,
        description: this.newtodo.description,
        statut: this.newtodo.statut,
        date: this.newtodo.date
      };
      http.post("/updateTodo", data).then(
        response => {
          this.newtodo.id = response.data.id;
          this.$router.push({ name: "Todos" });
        },
        response => {
          console.log("erreur", response);
        }
      );
    }
  },
  computed: {
    ...Vuex.mapGetters({newtodo: 'selectedTodos'})     
  }
}
</script>

