<template>

    <div id="app" class="container-fluid">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <div class="site-info">
            <h3>Todos</h3>
        </div>
        <nav>
            <router-link class="btn btn-primary" to="/">Todos</router-link>
            <router-link class="btn btn-primary" to="/add" >Add</router-link>
            <router-link class="btn btn-primary" to="/search" >Search</router-link>
            <router-link v-if="!loggedIn" class="btn btn-primary" :to="{ name: 'login' }">Login</router-link>
            <router-link v-if="!loggedIn" class="btn btn-primary" :to="{ name: 'register' }">Register</router-link>
            <router-link v-if="loggedIn" class="btn btn-primary" :to="{ name: 'logout' }">Logout</router-link>
        </nav>
        <br/>
        <router-view/>
    </div>
</template>
 
<script>
export default {
  name: "app",
  selectedTodos: {},
 
    computed: {
    loggedIn() {
      return this.$store.getters.loggedIn
    }
  }
};
</script>
 
<style>
.site-info {
  color: blue;
  margin-bottom: 20px;
}
 
.btn-primary {
  margin-right: 5px;
}
 
.container-fluid {
  text-align: center;
}
</style>