<template>
  <div class="login-form">
    <h2 class="login-heading">Register</h2>
    <form action="#" @submit.prevent="register">

      <div class="form-control">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="login-input" v-model="name">
      </div>

      <div class="form-control">
        <label for="mail">Email</label>
        <input type="email" name="mail" id="mail" class="login-input" v-model="mail">
      </div>

      <div class="form-control">
        <label for="roles">role</label>
        <input type="text" name="roles" id="roles" class="login-input" v-model="roles">
      </div>

      <div class="form-control mb-more">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="login-input" v-model="password">
      </div>

      <div class="form-control">
        <button type="submit" class="btn-submit">Create Account</button>
      </div>

    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      mail: '',
      password: '',
      roles: ''
    }
  },
  methods: {
    register() {
      this.$store.dispatch('registerAction', {
        name: this.name,
        mail: this.mail,
        password: this.password,
        roles:this.roles
      })
        .then(response => {
          this.$router.push({ name: 'login' })
        })
    }
  }
}
</script>